{% extends "base.html" %}

{% block content %}
    <h1>Edit project page</h1>
        <form action="/projects/{{project.id}}" method="POST">
            <div>
                <label for="title">Project Title: </label>
                <input type="text" name="title" id="title" value="{{project.title}}">

                <label for="sponsor">Sponsor: </label>
                <input type="text" name="sponsor" id="sponsor" value="{{project.sponsor}}">
        
                <label for="project_manager">Project Manager: </label>
                <input type="text" name="project_manager" id="project_manager" value="{{project.project_manager}}">

                <label for="start_date">Start Date: </label>
                <input type="text" name="start_date" id="start_date" value="{{project.start_date}}">

                <label for="end_date">End Date: </label>
                <input type="text" name="end_date" id="end_date" value="{{project.end_date}}">
        
                <label for="status">Day Rate: </label>
                <input type="text" name="status" id="status" value="{{project.status}}">

                <input class="submit" type="submit">
                
            </div>
        </form>
{% endblock %}
