{% extends "base.html" %}

{% block content %}
    <h1>Edit project page</h1>
        <form action="/projects/{{project.id}}" method="POST">
            <div>
                <label for="name">project Name: </label>
                <input type="text" name="name" id="name" value="{{project.name}}">

                <label for="role">Role: </label>
                <input type="text" name="role" id="role" value="{{project.role}}">
        
                <label for="summary">Summary: </label>
                <input type="text" name="summary" id="summary" value="{{project.summary}}"">
        
                <label for="day_rate">Day Rate: </label>
                <input type="int" name="day_rate" id="day_rate" value="{{project.day_rate}}">

                <input class="submit" type="submit">
                
            </div>
        </form>
{% endblock %}
