{% extends "base.html" %}

{% block content %}
    <h1>List of projects</h1>
    <a href="/projects/new">Create new project</a>
    <hr>
    <table class="table">
            <thead>
                <tr>
                    <th>Project Title</th>
                    <th>Sponsor</th>
                    <th>Project Manager</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>More Info</th>
                    <th>Triage</th>
                </tr>
            </thead>
        {% for project in all_projects %}
            <tbody>
                <tr>
                    <td><b>{{project.title}}</b></td>
                    <td><b>{{project.sponsor}}</td>
                    <td>{{project.project_manager}}</td>
                    <td>{{project.start_date}}</td>
                    <td>{{project.end_date}}</td>
                    <td>{{project.status}}</td>
                    <td><a href="/projects/{{project.id}}">More Info</a></td>
                    <td><a href="/triages/new">Complete Triage</a></td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
{% endblock %}