{% extends "base.html" %}

{% block content %}
    <h1>Project Name: {{project.title}}</h1>
    <div class="project-profile">

        <div class="update">
            <form action="/projects/{{project.id}}/edit">
                <input class="submit" type="submit" value="Edit project">
            </form>
        </div>
        <div class="delete">
            <form action="/projects/{{project.id}}/delete" method="POST">
                <input class="submit" type="submit" value="Delete project">
            </form>
        </div>

        <div class="triages">
            <ul>
                <h3>Triage:</h3>
                <h3>{{triage}}</h3>
                <h4>IAM: {{triage.iam}}</h4>
                <h4>Infrastrucure: {{triage.infrastructure}}</h4>
            </ul>
        </div>

        <div class="risks">
            <ul>
                <h3>Risks:</h3>
                {% for risk in risks %}
                    <div>
                        <p>{{risk.title}}</p>
                    </div>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}