{% extends "base.html" %}

{% block content %}
    <h1>Show project page</h1>
    <div class="profile">
        <h2 class="title">{{project.title}}</h2>
        <h3 class="sponsor">{{project.sponsor}}</h3>
        <h3 class="status">{{project.status}}</h3>

        <div class="picture">
            <img src="/static/profiles/mmccoll.jpeg" alt="">
        </div>

        <div class="update">
            <form action="/projects/{{project.id}}/edit">
                <input class="submit" type="submit" value="Edit project">
            </form>
        </div>
        <div class="delete">
            <form action="/projects/{{project.id}}/delete" method="POST">
                <input class="submit" type="submit" value="Delete project">
            </form>
        </div>

        <div class="triages">
            <ul>
                <h3>triages:</h3>
                {% for triage in triages %}
                    <div>
                        <p>{{triage.question}}</p>
                    </div> 
                {% endfor %}
            </ul>
        </div>

        <div class="risks">
            <ul>
                <h3>risks:</h3>
                {% for risk in risks %}
                    <div>
                        <p>{{risk.title}}</p>
                    </div>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}