{% extends "base.html" %}

{% block content %}
    <h1>Edit consultant page</h1>
        <form action="/consultants/{{consultant.id}}" method="POST">
            <div>
                <label for="name">Consultant Name: </label>
                <input type="text" name="name" id="name" value="{{consultant.name}}">

                <label for="role">Role: </label>
                <input type="text" name="role" id="role" value="{{consultant.role}}">
        
                <label for="summary">Summary: </label>
                <input type="text" name="summary" id="summary" value="{{consultant.summary}}"">
        
                <label for="day_rate">Day Rate: </label>
                <input type="int" name="day_rate" id="day_rate" value="{{consultant.day_rate}}">

                <input class="submit" type="submit">
                
            </div>
        </form>
{% endblock %}
