{% extends "base.html" %}

{% block content %}
    <h1>Index consultant page</h1>
    <a href="/consultants/new">Create new consultant</a>
    <div class="index">
        {% for consultant in all_consultants %}
            <div>
                <hr>
                <h2><b>Consultant: {{consultant.name}}</b></h2>
                <p><b>Role: </b>{{consultant.role}}</p>
                <p><b>Summary: </b>{{consultant.summary}}</p>
                <a href="/consultants/{{consultant.id}}">More Details</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}