{% extends "base.html" %}

{% block content %}
    <h1>Show consultant page</h1>
    <div class="profile">
        <h2 class="name">{{consultant.name}}</h2>
        <h3 class="role">{{consultant.role}}</h3>
        <h3 class="summary">{{consultant.summary}}</h3>
        <h3 class="day_rate">£{{consultant.day_rate}}</h3>

        <div class="picture">
            <img src="/static/profiles/mmccoll.jpeg" alt="">
        </div>

        <div class="update">
            <form action="/consultants/{{consultant.id}}/edit">
                <input class="submit" type="submit" value="Edit Consultant">
            </form>
        </div>
        <div class="delete">
            <form action="/consultants/{{consultant.id}}/delete" method="POST">
                <input class="submit" type="submit" value="Delete Consultant">
            </form>
        </div>

        <div class="clients">
            <ul>
                <h3>Clients:</h3>
                {% for client in clients %}
                    <div>
                        <p>{{client.name}}</p>
                    </div> 
                {% endfor %}
            </ul>
        </div>

        <div class="assignments">
            <ul>
                <h3>Assignments:</h3>
                {% for assignment in assignments %}
                    <div>
                        <p>{{assignment.description}}</p>
                    </div>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}