{% extends "base.html" %}

{% block content %}
    <h1>Show consultant page</h1>
    <div>
        <h2>{{consultant.name}}</h2>
        <div>
            
            <form action="/consultants/{{consultant.id}}/edit">
                <input class="submit" type="submit" value="Edit Consultant">
            </form>

            <form action="/consultants/{{consultant.id}}/delete" method="POST">
                <input class="submit" type="submit" value="Delete Consultant">
            </form>
        </div>
            <ul>
                {% for client in clients %}
                    <hr>
                    <p>{{client.name}}</p>
                    <p>{{client.type_of_business}}</p>
                    <p>{{client.contact_details}}</p>
                {% endfor %}
            </ul>
            <ul>
                {% for assignment in found_assignments %}
                    <li>{{assignment.description}}</li>
                {% endfor %}
            </ul>
    </div>
{% endblock %}