{% extends "base.html" %}

{% block content %}
    <h1>Edit assignment page</h1>
    <form action="/assignments/{{assignment.id}}" method="POST">
        <div>
            <label for="description">Assignment Description: </label>
            <input type="text" name="description" id="description" value="{{assignment.description}}">

            <label for="consultant">Consultant Name: </label>
            <select name="consultant_id" id="consultant">
                {% for consultant in consultants %}
                <option value="{{consultant.id}}">
                    {% if assignment.consultant.id == consultant.id %} selected="selected" {% endif %}>
                    {{consultant.name}}
                </option>
                {% endfor %}
            </select>

            <label for="client">Client Name: </label>
            <select name="client_id" id="client">
                {% for client in clients %}
                <option value="{{client.id}}">
                    {% if assignment.client.id == client.id %} selected="selected" {% endif %}>
                    {{client.name}}
                </option>
                {% endfor %}
            </select>

            <!-- Updating the dates may be the 'module not iterable' error message -->
            <label for="start_date">Start Date: </label>
            <input type="date" name="start_date" id="start_date" value="{{assignment.start_date}}">

            <label for="end_date">End Date: </label>
            <input type="date" name="end_date" id="end_date" value="{{assignment.end_date}}">
            <!-- To here -->

            <label for="days_required">Days Required: </label>
            <input type="text" name="days_required" id="days_required" value="{{assignment.days_required}}">

            <input class="submit" type="submit">
        </div>
    </form>
{% endblock %}