{% extends "base.html" %}

{% block content %}
    <h1>Our List of Assignments</h1>
    <a href="/assignments/new">Create a new assignment</a>
    <div class="index">
        {% for assignment in all_assignments %}
            <div>
                <hr>
                <h2><b>{{assignment.description}} for {{assignment.client.name}}</b></h2>
                <p><b>Contact Details: </b>{{assignment.client.contact_details}}</p>
                <p><b>Consultant Assigned: </b>{{assignment.consultant.name}}</p>
                <p><b>Days Required: </b>{{assignment.days_required}}</p>
                <p><b>Start Date: </b>{{assignment.start_date}}<b> --- End Date: </b>{{assignment.end_date}}  </p>
                <p><b>Total Cost: </b>£{{assignment.total_cost}}</p>
                <a href="/assignments/{{assignment.id}}">Edit Assignment</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}