{% extends "base.html" %}

{% block content %}
    <h1>Index assignment page</h1>
    <a href="/assignments/new">Create a new assignment</a>
    <div class="index">
        {% for assignment in all_assignments %}
            <div>
                <hr>
                <h2><b>Assignment: {{assignment.description}}</b></h2>
                <p><b>Consultant Assigned: </b>{{assignment.consultant.name}}</p>
                <p><b>Client: </b>{{assignment.client.name}}</p>
                <p><b>Days Required: </b>{{assignment.days_required}}</p>
                <p><b>Total Cost: </b>#TBC#</p>
                <a href="/assignments/{{assignment.id}}">More Details</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}