{% extends "base.html" %}

{% block content %}
    <h1>Assignment Details</h1>
        <div>
            <div>
                <form action="/assignments/{{assignment.id}}/edit">
                    <input class="submit" type="submit" value="Edit Assignment">
                </form>

                <form action="/assignments/{{assignment.id}}/delete" method="POST">
                    <input class="submit" type="submit" value="Delete Assignment">
                </form>
            </div>
            <div>
                <ul>
                    {% for assignment in assignments %}
                        <hr>
                        <h2>{{assignment.description}} for {{client.name}}</h2>
                        <p></p>
                    {% endfor %}
                </ul>
            </div>
        </div>
{% endblock %}