{% extends "base.html" %}

{% block content %}
    <h1>Edit Assignment</h1>
        <div class="index">
            <div>
                <form action="/assignments/{{assignment.id}}/edit">
                    <input class="submit" type="submit" value="Edit Assignment">
                </form>

                <form action="/assignments/{{assignment.id}}/delete" method="POST">
                    <input class="submit" type="submit" value="Delete Assignment">
                </form>
            </div>
        </div>
{% endblock %}