{% extends "base.html" %}

{% block content %}
    <h1>Our List of risks</h1>
    <a href="/risks/new">Create a new risk</a>
    <div class="index">
        {% for risk in all_risks %}
            <div>
                <hr>
                <h2><b>Risk Title: </b>{{risk.title}}</h2>
                <p><b>Risk Description: </b>{{risk.description}}</p>
                <p><b>Risk Owner: </b>{{risk.owner}}</p>
                <a href="/risks/{{risk.id}}">Edit risk</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}