{% extends "base.html" %}

{% block content %}
    <h1>Create a new risk</h1>
        <form action="/risks" method="POST">
            <div>
                <label for="description">risk Description: </label>
                <input type="text" name="description" id="description">

                <label for="project_id">project Name: </label>
                <select name="project_id" id="project_id">
                    {% for project in all_projects %}
                    <option value="{{project.id}}">
                        {{project.name}}
                    </option>
                    {% endfor %}
                </select>

                <label for="triage_id">triage Name: </label>
                <select name="triage_id" id="triage_id">
                    {% for triage in all_triages %}
                    <option value="{{triage.id}}">
                        {{triage.name}}
                    </option>
                    {% endfor %}
                </select>

                <label for="start_date">Start Date: </label>
                <input type="date" name="start_date" id="start_date">

                <label for="end_date">End Date: </label>
                <input type="date" name="end_date" id="end_date">

                <label for="days_required">Days Required: </label>
                <input type="text" name="days_required" id="days_required">

                <input class="submit" type="submit">
            </div>
        </form>
{% endblock %}