{% extends "base.html" %}

{% block content %}
    <h1>List of triages</h1>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Project</th>
                <th>IAM</th>
                <th>Infrastructure</th>
                <th>Supplier</th>
                <th>Privacy</th>
                <th>Confidentiality</th>
                <th>Integrity</th>
                <th>Availability</th>
                <th>Business Continuity</th>
            </tr>
        </thead>
        {% for triage in all_triages %}
        <tbody>
            <tr>
                <td>Project Title</td>
                <td>{{triage.iam}}</td>
                <td>{{triage.infrastructure}}</td>
                <td>{{triage.supplier}}</td>
                <td>{{triage.privacy}}</td>
                <td>{{triage.confidentiality}}</td>
                <td>{{triage.integrity}}</td>
                <td>{{triage.availability}}</td>
                <td>{{triage.continuity}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}