{% extends "base.html" %}

{% block content %}
    <h1>Create a new triage</h1>
        <form action="/triages" method="POST">
            <div>

                <label for="iam">Is the project implementing or changing any Identity & Access Managment methods?: </label>
                <select name="iam" id="iam">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>

                <label for="infrastructure">Is the project implementing or changing any Infrastructure: </label>
                <select name="iam" id="iam">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>

                <label for="supplier">Is the supplier implementing or changing any Supplier Relationships?: </label>
                <select name="supplier" id="supplier">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>

                <label for="privacy">Is the project implementing or changing any Personally Identifiable Information?: </label>
                <select name="privacy" id="privacy">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>

                <label for="confidentiality">What is the Confidentiality rating of information involved?: </label>
                <select name="confidentiality" id="confidentiality">
                    <option value="Strictly Confidential">Strictly Confidential</option>
                    <option value="Confidential">Confidential/option>
                    <option value="Internal">Internal</option>
                    <option value="Public">Public</option>
                </select>

                <label for="integrity">What is the Integrity rating of information involved?: </label>
                <select name="integrity" id="integrity">
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>

                <label for="availability">What is the Availability rating of information involved?: </label>
                <select name="availability" id="availability">
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>

                <label for="continuity">What is the highest Business Continuity rating of the processes involved?: </label>
                <select name="continuity" id="continuity">
                    <option value="Critical">Critical</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>

                <label for="date">Date of Triage: </label>
                <input type="date" name="date" id="date">

                <input class="submit" type="submit">

            </div>
        
        </form>
{% endblock %}