label {
    display:block;
    padding: 4px;
    margin: 4px;
}

input {
    display: block;
    padding: 6px;
    margin: 4px;
    width: 200px;
}

.submit {
    background-color: #074A88;
    color: white;
    margin:12px 4px;
    width: 130px;
}

select {
    display: block;
    padding: 6px;
    margin: 4px;
    width: 200px;
}

option {
    display: block;
    padding: 6px;
    margin: 4px;
    width: 200px;
}