.name {
    grid-area: name;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
}

.picture {
    grid-area: picture;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
}

.role {
    grid-area: role;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
}

.summary {
    grid-area: summary;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
}

.day_rate {
    grid-area: day_rate;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
}

.clients {
    grid-area: clients;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
}

.assignments {
    grid-area: assignments;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
}

.update {
    grid-area: update;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
    background-color: #C5E1FC;
    vertical-align: middle;
}

.delete {
    grid-area: delete;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
    background-color: #C5E1FC;
    vertical-align: middle;
}

.profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 4px;
    padding: 4px;
    grid-template-areas:
        "name name picture day_rate"
        "role role picture update"
        "summary summary picture delete"
        "clients clients assignments assignments";
}

body > div > h3 {
    display: flex;
    align-items: center;
}

body > div > h2 {
    display: flex;
    align-items: center;
}