.name {
    grid-area: name;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
}

.triage {
    grid-area: triage;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
}

.triageEdit {
    grid-area: triageEdit;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
}

.risks {
    grid-area: risks;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
}

.controls {
    grid-area: controls;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
}

.controlsReview {
    grid-area: controlsReview;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
}

.risksReview {
    grid-area: risksReview;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
}

.update {
    grid-area: update;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
    background-color: #C5E1FC;
    vertical-align: middle;
}

.delete {
    grid-area: delete;
    border:dashed;
    border-width: 2px;
    border-color: rgb(182, 179, 179);
    margin: 4px;
    padding: 4px;
    background-color: #C5E1FC;
    vertical-align: middle;
}

.project-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin: 4px;
    padding: 4px;
    grid-template-areas:
        "name name update delete"
        "triage risks controls controls"
        "triage risks controls controls"
        "triage risks controls controls"
        "triage risks controls controls"
        "triageEdit risksReview controlsReview controlsReview"
       
}

body > div > h3 {
    display: flex;
    align-items: center;
}

body > div > h2 {
    display: flex;
    align-items: center;
}

h4 {
    display: flex;
    align-items: center;
    font-size: 14px;
}