body {
    font-family:'Montserrat', sans-serif;
    padding:6px;
    background-color: #F0EDEE;
    color:#074A88;
    margin: 0px;
    padding: 0px;
}

div {
    padding: 5px 10px;
    margin: 5px 10px;
}

h1 {
    padding: 10px;
    margin: 10px 25px;
}

h2 {
    color:#8b2fc9;
}

h4 {
    padding: 10px;
    margin: 10px 25px;
    font-size: 20px;
}

body > a {
    padding: 10px;
    border-radius: 10px;
    border-style:outset;
    border-width: 2px;
    width: 30px;
    margin: 5px 35px;
    text-decoration: none;
    background-color: #C5E1FC;
    display:flex;
    align-items: flex-end;
    min-width: fit-content;
}