body {
    font-family:'Montserrat', sans-serif;
    padding:6px;
    background-color: #F0EDEE;
    color:#074A88;
    margin: 0px;
    padding: 0px;
}

div {
    padding: 10px;
}

h1 {
    padding: 10px;
}

h2 {
    color:#8b2fc9;
}

body > a {
    padding: 10px;
    border-radius: 10px;
    border-style:outset;
    border-width: 2px;
    width: 30px;
    margin: 10px;
    text-decoration: none;
    background-color: #C5E1FC;
    display:flex;
    align-items: flex-end;
    min-width: fit-content;
}

/* Colour Scheme (via Coolers)
F0EDEE - Isabelline
074A88 - Yale Blue
C5E1FC - Beau Blue
DD5040 - Cinnabar */