<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');</style>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    <title>Consultancy App</title>
</head>
<body>
    <header>
        <ul class="header">
            <li><a href="" class="logo">Codeclan Consultancy</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/consultants">Consultants</a></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/assignments">Assignments</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </header>
    {% block content %}
    
    {% endblock %}
    <footer>
        <ul class="footer">
            <li>Codeclan Consultancy</li>
            <li>123 Princes Street, Edinburgh, EH1 2QW</li>
            <li>info@codeclan.com</li>
        </ul>
    </footer>
</body>
</html>