<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Consultancy App</title>
</head>
<body>
    <header>
        <h1>Consultancy App</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/consultants">Consultants</a></li>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/assignments">Assignments</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </header>
    {% block content %}
    
    {% endblock %}
</body>
</html>