{% extends "base.html" %}

{% block content %}

<h1>About the app</h1>
    <h4>This is a <i>Consultancy Management App</i>. That is designed to be used as an internal application and not externally facing, 
        although it could be altered to be client facing.
    </h4>
    <h4>The consultancy would have a number of <i>'Consultants'</i> on its books, that <i>'Clients'</i> would hire for a specific, distinct piece of work. This is 
        managed within the app as <i>'Assignments'</i>.</h4>

    <h4>The app would also allow for statistics and MI page to be automatically produced. This would enable the consultancy management team to assign
        appropriate consultants to clients and oversee the consultancy performance.
    </h4>

    <h4> </h4>
<h1>Services the consultancy provides</h1>
    <div class="image">
        <h2>APP WIREFRAMING</h2>
        <img class="pic1" src="/static/img/wireframing.jpg" alt="Wireframing">
        <h2>MOBILE APP DESIGN</h2>
        <img class="pic2" src="/static/img/mobile_app.jpg" alt="Mobile App Design">
        <h2>DATA ANALYTICS</h2>
        <img class="pic3" src="/static/img/data_analytics.jpg" alt="Analytics">
        <h2>IT STRATEGY</h2>
        <img class="pic4" src="/static/img/IT_strategy.jpg" alt="IT strategy">
        <h2>BACKEND DEVELOPMENT</h2>
        <img class="pic5" src="/static/img/coding.jpg" alt="Backend Development">
        <h2>API DESIGN</h2>
        <img class="pic6" src="/static/img/coding_background.jpg" alt="API Design">
    </div>
{% endblock %}