{% extends "base.html" %}

{% block content %}
    <h1>Show client page</h1>
    <div>
        <h2>{{client.name}}</h2>
        <div>
            <form action="/clients/{{client.id}}/edit">
                <input class="submit" type="submit" value="Edit Client">
            </form>

            <form action="/clients/{{client.id}}/delete" method="POST">
                <input class="submit" type="submit" value="Delete Client">
            </form>
        </div>
            <ul>
                {% for consultant in consultants %}
                <hr>
                <p>{{consultant.name}}</p>
                <p>{{consultant.role}}</p>
                <p>{{consultant.day_rate}}</p>
            {% endfor %}
            </ul>
    </div>
{% endblock %}