{% extends "base.html" %}

{% block content %}
    <h1>Show client page</h1>
    <div>
        <h1>{{client.name}}</h1>
        <div>
            <form action="/clients/{{client.id}}/edit">
                <input class="submit" type="submit" value="Edit Client">
            </form>

            <form action="/clients/{{client.id}}/delete" method="POST">
                <input class="submit" type="submit" value="Delete Client">
            </form>
        </div>
            <ul>
                <h2>Consultants Assigned:</h2>
                {% for consultant in consultants %}
                <hr>
                <p>Consultant:  {{consultant.name}}</p>
                <p>Role:  {{consultant.role}}</p>
                <p>Day Rate:  £{{consultant.day_rate}}</p>
                {% endfor %}
            </ul>
    </div>
{% endblock %}